node_modules/

*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
wp-content/themes/landing_gat/css/
wp-content/themes/landing_gat/js/
wp-content/themes/landing_gat/img/

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.g
